.gallery {
  color: $color-black;

  display: grid;
  grid-template: min-content repeat(2, 1fr) / repeat(3, min-content);
  justify-content: space-around;

  @include respond(bp-970){
    grid-template: min-content repeat(3 , 1fr) / repeat(2 , min-content) ;
    justify-content: space-evenly;
  }


  @include respond(phone){
    grid-template: min-content (repeat(6 , 1fr)) / min-content;
  }
  &-title {
    color: inherit;
    font-size: 3.2rem;
    font-weight: 600;
    grid-column: 1 / -1;
    justify-self: center;
    padding: 5rem 0;
  }
  &-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
    
    &__img {
      align-self: flex-start;
      margin-bottom: 2.5rem;
      width: 36rem;
    }
    &__title {
      color: inherit;
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    &__text {
      font-weight: 400;
      font-size: 1.7rem;
    }
  }
}
